<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>servlet3x-feature-demo</contextName>

	<property name="LOG_HOME" value="D:/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="appInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/info/servlet3x-feature-info.log</file>
		<appender>true</appender>
		<Encoding>UTF-8</Encoding>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info/servlet3x-feature.%d{yyyy-MM-dd}-info.log.gz
			</fileNamePattern>
			<maxHistory>360</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="appInfo" />
	</root>

</configuration>
